*{
    box-sizing: inherit;
}

body {
    background-color: #ebeef4;
    box-sizing: border-box;
}

#wrapper {
    width: 600px;
    margin: auto;
}

#txtUsername {
    background-color: transparent;
    border-width: 0 0 1px 0;
    outline: none;
}

#btnRegister {
    outline: none;
}

#chatForm {
    margin-top: 20px;
}

#left, #right {
    min-height: 300px;
}

#left {
    width: 28%;
    float: left;
    background-color: #f0f2d0;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
}

#right {
    width: 68%;
    float: right;
    background-color: #d4f9f8;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px;
}

#boxTitle {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #999;
    font-size: 20px;
}

#boxContent {
    margin-top: 12px;
    padding: 0 5px;
}
.useronline {
    margin-bottom: 8px;
}

#sayHi {
    text-align: right;
}

#listMessages {
    height: 200px;
    background-color: #fcead4;
    margin-top: 12px;
    margin-bottom: 15px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#txtMessage {
    background-color: transparent;
    border: solid 1px black;
    outline: none;
}

.message-item-right, .message-item-left {
    display: inline-block;
    display: flex;
    align-items: center;
}

.message-item-right span, .message-item-left span {
    border: 1px solid #DDD;
    border-radius: 50px;
    margin-bottom: 8px;
    padding: 4px 12px;
    max-width: 80%;
}

.message-item-left span {
    background-color: blue;
    color: white;
}

.message-item-right {
    justify-content: flex-end;
}

.message-item-right span {
    background-color: white;
    color: black;
}